body{
   background: #fff !important;
}  

input,textarea{
   width: 54% !important;
}

.block_wrapper{
   width: 70% !important;
}

#send_button{
   width: 54% !important;
}

#content-area{
   border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    width:600px;
    padding-top: 7%;
}  

#message_input{
   height: 100px;
}

#message_input_label{
   line-height: 100px;
}